<h2><%= list.escape('title') %>: ord-<%= list.get('ord') %></h2>

<ul class="list-group">
  <% list.cards().each(function(card) { %>
    <li class="list-group-item hoverable"> <%= card.escape('title') %>: id-<%= card.id %></li>
    <% }) %>
  <li class="list-group-item">
    <button class="delete btn btn-xs btn-danger">Remove List</button>
  </li>
</ul>
