<h2><%= list.escape('title') %>: ord-<%= list.get('ord') %></h2>

<div class="index-items">
</div>

<div class="list-group-item form"></div>

<div class="list-group-item">
  <button class="delete btn btn-xs btn-danger">Remove List</button>
</div>
